<h1>Buscador: <small>{{input}}</small></h1>
<hr>


<div *ngIf="heroes.length === 0" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Lo siento!</strong> No existen resultados con el nombre {{input}}.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="card-columns">
  <app-hero-detail [hero]="hero" [idx]="i" *ngFor="let hero of heroes; let i = index"></app-hero-detail>
</div>

